@page "/flightpaths"

<h3>Flight Paths</h3>

<div class="row mt-4">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Path ID</th>
                    <th>Drone</th>
                    <th>Start Hub</th>
                    <th>End Hub</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center">No flight paths available</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>