@page "/hubs"

<h3>Hub Management</h3>

<div class="row mt-4">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Solar Power</th>
                    <th>Occupancy</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center">No hubs available</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>