<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QuadLogic DFMS</a>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drones">
                <span class="oi oi-project" aria-hidden="true"></span> Drone Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hubs">
                <span class="oi oi-location" aria-hidden="true"></span> Hub Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flightpaths">
                <span class="oi oi-map" aria-hidden="true"></span> Flight Paths
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maintenance">
                <span class="oi oi-wrench" aria-hidden="true"></span> Maintenance
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}